body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: local('HelveticaNeue-Condensed'), url("./assets/fonts/HelveticaNeue-Condensed.ttf") format('truetype');
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: local('HelveticaNeue-Condensed'), url("./assets/fonts/HelveticaNeue-Condensed Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'HelveticaNeueThin';
  src: local('HelveticaNeue-Condensed'), url("./assets/fonts/HelveticaNeue-Condensed Thin.ttf") format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
